
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C++ binaries & builds
*.exe
*.out
*.o
*.obj

# Environments & secrets
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and databases
*.log
*.sqlite3

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
creds.json
